a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.curvedUnderline {
  position: relative;
  margin-right: 1rem;
}

.curvedUnderline:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 30px;
  width: 100%;
  border: 2px solid #c44569;
  border-color: #c44569 transparent transparent transparent;
  border-radius: 50%;
  clip-path: inset(0 0 50% 0);
}

pre {
  overflow-x: auto;
}

table {
  max-width: 100%;
  border: none;
  overflow-x: auto;
  display: block;
}

.mui-style-ha3bif-MuiTimelineItem-root:before{
  content: none !important;
}